.h2{
    font-size: 23px;
    margin-left: 30px;
    color: rgba(3, 68, 94, 1);
    text-align:left;
}

.container{
    width: 100vw;
}

@media screen and (min-width: 390px) and (max-width: 844px){
    .h2{
        text-align: center;
    }
}

