.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 20vh;
}

.buttonContainer {
    margin-left: auto;
    margin-right: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.titulo {
    position: relative;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 850px) {
    .titulo {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 25px;

}

.descriptionColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.infoColumn {
    flex: 1;
    max-width: calc(50% - 5px);
}

.infoBox {
    border-radius: 8px;
}

.iconContainer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 15px;
    overflow: hidden;
}

.icon {
    display: flex;
    align-items: center;
    text-align: center;
}

@media (max-width: 900px) {
    .iconContainer .icon svg {
        display: none;
    }
}

.price {
    color: #03445e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.icon svg {
    margin-right: 10px;
}

.info {
    margin-top: 26px;
}

.texto {
    padding-left: 15px;
    justify-content: space-between;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.botonAlquilar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonAlquilar button{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 7px;
}

.imagenesWrapper {
    display: flex;
    margin-top: 20px;
}

.primerImagen {
    width: 600px;
    height: auto;
    margin-left: 20px;
    margin-right: 25px;
}

@media screen and (max-width: 900px) {
    .imagenGridTop,
    .imagenGridBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        display: none;
    }
}

.imagen {
    width: calc(90% - 2px);
    margin-bottom: 5px;
}

.imagenGrilla {
    width: 300px; 
    height: auto; 
}

.calendarsWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.calendarContainer {
    display: flex;
    align-items: center;
    gap: 30px;
}

.available-date {
    background-color: green; /* Color para fechas disponibles */
  }
  
  .unavailable-date {
    background-color: red; /* Color para fechas no disponibles */
  }