.h2{
    font-size: 23px;
    margin-left: 30px;
    color: rgba(3, 68, 94, 1);
    text-align:left;
    text-align: left;
}

.card{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}