.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(172, 192, 217, 0.5);
    height: 25vh;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 10px
  }

  .otroContainer{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: center;
  }

  .inputContainer{
    border-radius: 15px;
    width: 17vw;
    height: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(78, 74, 74, 0.856);
  }

  .button {
    color: rgba(166, 153, 153, 0.856);
    border-radius: 5px;
    color: black;
    border: 1px solid black;
  }

  .logo{
    width: 10%; 
    margin-right: 10px;
  }

  .input{
    display: flex;
  }

  .h2{
    font-size: 20px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    transform: scale(2); /* Ajusta el tamaño del icono según tus necesidades */
    margin-right: 10px;
  }