.header {
    width: 100vw; 
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: #f0f0f0;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.logo {
    width: 10vw; 
    height: 13vh;
}

.lineaVertical {
    width: 2px; 
    height: 70%; 
    background-color: #03445E; 
    margin-left: 5px;
    margin-right: 8px;
}

.lema {
    margin-right: 53vw; 
}

.botones {
    display: flex;
    
}

.botones button {
    margin-left: 1vw; 
    margin-left: 1vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}