.header {
    width: 100vw; 
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 20px 0 20px;
}

.logo{
    width: 75%;
}

.logoLink {
    display: flex;
    align-items: center;
}

.login button {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }
    .lineaVertical {
        display: none;
    }
}

.lineaVertical {
    width: 2px;
    height: 65%; 
    background-color: #03445E; 
    margin-left: 2px;
    margin-right: 15px;
}

.lema {
    font-size: 110%;
    margin-left: 10px; 
    margin-right: 10px;  
}

.botones {
    display: flex;
}


.botonesdiv{
display: flex;
width: 20%;
justify-content: space-around;


}

.buttonh{
    border: 1px solid black;
}



@media screen and (min-width: 1024px) and (max-width: 1366px) {
    
    .logo{
        width: 80%;
    }

    .header{
        height: 11vh;
    }

    
    
    .buttonh{
        width: 160px;
        height: 75px;
        font-size: 18px;

    }

    .botonesdiv{
        display: flex;
        width: 20%;
        justify-content: space-around;
        margin-right: 140px;
        
        }

    .divlogo{

            display: flex;
            align-items: center;
            width: 30%;
            justify-content: space-around;
        }
    .lema{
        font-size: 20px;
        
    }

  }

  @media screen and (min-width: 390px) and (max-width: 844px){

    .lema{
        display: none;
    }

    .logo{
        width: 65%;
    }

    .botonesdiv{
        margin-right: 150px;
        

    }

    .buttonh{
        font-size: 15px;
        width: 100px;
    }

  }