.header {
    width: 100vw; 
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: #f0f0f0;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.logo{
    width: 75%;
}

.divlogo{
    display: flex;
}


.botonesdiv{
display: flex;
width: 20%;
justify-content: space-around;


}

.buttonh{
    border: 1px solid black;
}



@media screen and (min-width: 1024px) and (max-width: 1366px) {
    
    .logo{
        width: 80%;
    }

    .header{
        height: 11vh;
    }

    
    
    .buttonh{
        width: 160px;
        height: 75px;
        font-size: 18px;

    }

    .botonesdiv{
        display: flex;
        width: 20%;
        justify-content: space-around;
        margin-right: 140px;
        
        }

    .divlogo{

            display: flex;
            align-items: center;
            width: 30%;
            justify-content: space-around;
        }
    .lema{
        font-size: 20px;
        
    }

  }

  @media screen and (min-width: 390px) and (max-width: 844px){

    .lema{
        display: none;
    }

    .logo{
        width: 65%;
    }

    .botonesdiv{
        margin-right: 150px;
        

    }

    .buttonh{
        font-size: 15px;
        width: 100px;
    }

  }